/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of css reset */

/* HEADERS */
h1{
    font-size: 90px;
    color: white;
    float:left;
    position:absolute;
    padding-left: 23rem;
    padding-top: 15rem;
}

h2{
    font-size: 30px;
    padding-bottom: 1em;
}

h3{
    font-size: 30px;
    padding-bottom: 1em;
}

h4{
    font-size: 30px;
    padding-bottom: 1em;
}

h5{
    font-size: 19px;
    padding-top:1em;
    padding-bottom: 1em;
}

header img{
    width: 100%;
}
/* END OF HEADERS */

body{
    background-color: #cde9e6;
    margin-bottom: 1em;
}

article{
    padding-left: 1em;
    padding-right: 1em;
}

p{
    font-size: 19px;
    line-height: 20px;
    padding-bottom: 1em;
}

footer{
    text-align: right;
    padding-top: 2em;
    padding-bottom: 2em;
}

/* LIST TAGS */

ul li{
    text-align: left;
    font-size: 19px;
    list-style:disc;
    padding-left: 1em;
}

ul{
    padding-left: 1em;
    padding-bottom: 1em;
}

/* LIST TAGS CLOSE */

html{
    margin-left: 20em;
    margin-right: 20em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #aad4cf;
}

a{
    display: inline-block;
    width: 120px;
    height: 40px;
}

/* NAV TAGS */
nav{
    text-align: center;
}

nav li{
    display: inline;
}

nav li a{
    text-decoration: none;
    color:inherit;
    font-size: 30px;
    padding-top: 5px;
    padding-left: 3em;
    padding-right: 3em;
}

nav li:not(:last-child) {
    border-right: solid 1.5px black;
}

/* NAV TAG CLOSE */

input[type=text], select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-sizing: border-box;
}

input[type=text]:nth-child(6){
    padding-bottom: 3em;
}

/* class css tags */
.form { 
    font-size: 1em;
    border: solid black 1px;
    padding: 25px 21px; 
    width: 100%;
    margin: 9px 0;
    display: inline-block;
    box-sizing: border-box;
}

#starfish{
    float: left;
    padding-right: 1em;
}

.submit {
    clear: left;
    padding-top: 1em;
    
}

.submit input[type=submit], select{

    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
    background-color: #cde9e6;
}